[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "*"
Sphinx = ">=2.0.0"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"
libvcs = {path = ".",editable = true}
black = "==19.3b0"
sphinx-issues = "*"

[packages]

[requires]
python_version = "3"
