[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

pytest = "==3.4.0"
"pytest-mock" = "==1.7.0"
alagitpull = "==0.0.19"
releases = "==1.4.0"
sphinx = "==1.7.0"


[packages]
"e1839a8" = {path = ".", editable = true}
