[tool.poetry]
name = "libvcs"
version = "0.15.0a0"
description = "Lite, typed, python utilities for Git, SVN, Mercurial, etc."
license = "MIT"
authors = ["Tony Narlock <tony@git-pull.com>"]
keywords = [
  "libvcs",
  "git",
  "mercurial",
  "hg",
  "svn",
  "subversion",
  "library",
  "lib",
  "wrapper",
  "vcs",
  "version control",
  "scm",
  "clone",
  "checkout",
  "abstraction",
  "version-control",
]
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: POSIX",
  "Operating System :: MacOS :: MacOS X",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Topic :: Utilities",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Version Control",
  "Topic :: Software Development :: Version Control :: Git",
  "Topic :: Software Development :: Version Control :: Mercurial",
  "Topic :: System :: Shells",
  "Typing :: Typed",
]
homepage = "http://github.com/vcs-python/libvcs/"
readme = "README.md"
packages = [
  { include = "libvcs" },
]
include = [
  { path = "tests", format = "sdist" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/vcs-python/libvcs/issues"
Documentation = "https://libvcs.git-pull.com"
Repository = "https://github.com/vcs-python/libvcs"
Changes = "https://github.com/vcs-python/libvcs/blob/master/CHANGES"

[tool.poetry.dependencies]
python = "^3.9"
typing-extensions = { version = "^4.1.1", python = '3.10' }

[tool.poetry.dev-dependencies]
### Docs ###
sphinx = "*"
furo = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinx-inline-tabs = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
sphinxext-rediraffe = "*"
sphinx-autoapi = "*"
sphinx-autoissues = "*"
myst_parser = "*"

### Testing ###
pytest = "*"
pytest-rerunfailures = "*"
pytest-mock = "*"
pytest-watcher = "^0.2.3"
Faker = "*"

### Coverage ###
codecov = "*"
coverage = "*"
pytest-cov = "*"

### Format ###
black = "*"
isort = "*"

### Lint ###
flake8 = "*"
mypy = "*"

[tool.poetry.extras]
docs = [
  "sphinx",
  "sphinx-autoapi",
  "sphinx-autodoc-typehints",
  "sphinx-autobuild",
  "sphinx-copybutton",
  "sphinxext-opengraph",
  "sphinx-inline-tabs",
  "sphinxext-rediraffe",
  "sphinx-autoissues",
  "myst_parser",
  "furo",
]
test = [
  "faker",
  "pytest",
  "pytest-rerunfailures",
  "pytest-mock",
  "pytest-watcher",
]
coverage = ["codecov", "coverage", "pytest-cov"]
format = ["black", "isort"]
lint = ["flake8", "mypy"]

[tool.mypy]
strict = true

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
