[tool.black]
skip-string-normalization = true

[tool.poetry]
name = "libvcs"
version = "0.9.0"
description = "vcs abstraction layer"
license = "MIT"
authors = ["Tony Narlock <tony@git-pull.com>"]
keywords = ["libvcs", "git", "mercurial", "hg", "svn"]
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "Operating System :: POSIX",
  "Operating System :: MacOS :: MacOS X",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Topic :: Utilities",
  "Topic :: System :: Shells"
]
homepage = "http://github.com/vcs-python/libvcs/"
readme = "README.rst"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/vcs-python/libvcs/issues"
Documentation = "https://libvcs.git-pull.com"
Repository = "https://github.com/vcs-python/libvcs"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
### Docs ###
sphinx = "*"
recommonmark = "^0.7.1"
alagitpull = "~0.1.0"
sphinx-issues = "^1.2.0"
sphinx-autodoc-typehints = "^1.11.0"

### Testing ###
pytest = "*"
pytest-rerunfailures = "*"
pytest-mock = "*"

### Coverage ###
codecov = "*"
coverage = "*"
pytest-cov = "*"

### Format ###
black = {version="==21.6b0", python="^3.6.2"}
isort = "*"

### Lint ###
flake8 = "*"
"backports.functools_lru_cache" = "!=1.6.2,!=1.6.3" # https://github.com/jaraco/backports.functools_lru_cache/pull/16

[tool.poetry.extras]
docs = ["sphinx", "recommonmark", "sphinx-issues", "alagitpull", "sphinx-autodoc-typehints"]
test = ["pytest", "pathlib2", "pytest-rerunfailures", "pytest-mock"]
coverage = ["codecov", "coverage", "pytest-cov"]
format = ["black", "isort"]
lint = ["flake8"]
