[tool.poetry]
name = "libvcs"
version = "0.12.0b12"
description = "vcs abstraction layer"
license = "MIT"
authors = ["Tony Narlock <tony@git-pull.com>"]
keywords = ["libvcs", "git", "mercurial", "hg", "svn"]
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "Operating System :: POSIX",
  "Operating System :: MacOS :: MacOS X",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Topic :: Utilities",
  "Topic :: System :: Shells"
]
homepage = "http://github.com/vcs-python/libvcs/"
readme = "README.md"
packages = [
    { include = "libvcs" }
]
include = [
    { path = "tests", format = "sdist" }
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/vcs-python/libvcs/issues"
Documentation = "https://libvcs.git-pull.com"
Repository = "https://github.com/vcs-python/libvcs"
Changes = "https://github.com/vcs-python/libvcs/blob/master/CHANGES"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
### Docs ###
sphinx = "*"
furo = "^2022.2.23"
sphinx-autobuild = "^2021.3.14"
sphinx-autodoc-typehints = "~1.17.0"
sphinx-issues = "^3.0.0"
sphinx-inline-tabs = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "^0.5.0"
sphinxext-rediraffe = "*"
myst_parser = "~0.17.0"

### Testing ###
pytest = "*"
pytest-rerunfailures = "*"
pytest-mock = "*"
pytest-watcher = "^0.2.3"
tox = {version = "^3.24.5", extras = ["test"]}

### Coverage ###
codecov = "*"
coverage = "*"
pytest-cov = "*"

### Format ###
black = "*"
isort = "*"

### Lint ###
flake8 = "*"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-issues", "sphinx-autodoc-typehints", "sphinx-autobuild", "sphinx-copybutton", "sphinxext-opengraph", "sphinx-inline-tabs", "sphinxext-rediraffe", "myst_parser", "furo"]
test = ["pytest", "pytest-rerunfailures", "pytest-mock", "pytest-watcher"]
coverage = ["codecov", "coverage", "pytest-cov"]
format = ["black", "isort"]
lint = ["flake8"]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
