name: libvcs CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip pipenv
        pipenv install -d
    - name: Lint with flake8
      run: |
        pipenv run flake8
    - name: Test with pytest
      run: |
        pipenv run py.test
